<div class="flex flex-column p-2">
  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>Información Personal</mat-card-title>
    </mat-card-header>

    <mat-divider class="mb-2"></mat-divider>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Correo electrónico: </span>
          <span matListItemLine>{{ user()?.email}}</span>
        </mat-list-item>


        <mat-list-item>
          <span matListItemTitle>Nombres y apellidos</span>
          <span matListItemLine>{{ user()?.name}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Documento Nacional de Identidad o RUC</span>
          <span matListItemLine>{{ user()?.documento}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="flex justify-content-between">
      <button mat-raised-button color="primary" (click)="goBack()">Regresar</button>
    </mat-card-actions>
  </mat-card>
</div>




