
<mat-card class="col-12">

  <mat-card-header>
    <mat-card-title>Bienvenido a la página oficial de CottonTex</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <h3>Aquí podrás revisar tus datos personales, la información completa de tu orden y además, poder estar informado sobre el estado y trazabilidad de tu pedido</h3>
      <img src="assets/images/cottontex.jpg" alt="Imagen de Bienvenida" class="imagenBienvenida">
    </div>
  </mat-card-content>
</mat-card>

