<!-- *ngIf = "user()?.documento == order.doc_cliente" -->
<mat-card class="card-general" *ngIf="(user()?.rol == 'admin') || (user()?.documento == order.doc_cliente)">
  <mat-card-header>
    <mat-card-title> {{ order.producto }}</mat-card-title>
    <mat-card-subtitle>{{ order.cliente }}</mat-card-subtitle>
  </mat-card-header>

  <!--TODO: imagen -->

  <mat-card-content class="mt-2">
    <h4>Código de Orden: {{ order.codigo_de_orden }}</h4>
    <p>
      <strong>Fecha de creación: </strong> {{ order.fecha_de_creacion }}
    </p>
    <p>
      <strong>Fecha de Inicio: </strong> {{ order.fecha_de_inicio }}
    </p>
    <p>
      <strong>Fecha a finalizar: </strong> {{ order.fecha_estimada_de_salida }}
    </p>
    <br>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions class="botones">

    <button *ngIf = "user()?.rol == 'admin'"
      mat-button
      mat-raised
      color="primary"
      [routerLink]="['/orders/edit', order.id_orden ]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <button mat-button
      mat-raised
      [routerLink]="['/orders',order.id_orden]">
      <mat-icon>more_horiz</mat-icon>
      Ver Detalles
    </button>


  </mat-card-actions>


</mat-card>

