<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="order else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6" >
    <mat-card-header>
      <mat-card-title>Progreso de pedido</mat-card-title>
      <mat-card-subtitle>El pedido se encuentra actualmente en: {{ order.proceso_actual }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
      <!-- Barra de progreso -->
    <mat-card-content>
      <div class="container">
        <span *ngFor="let item of etapas; let i = index">
          <span class="circles" [class.active]="order.proceso_actual == item"></span>
          <span class="circle-desc" [class.circle-desc-active]="order.proceso_actual == item">{{item}}</span>
          <span class="bar" *ngIf="(i != etapas.length-1)"></span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-12 sm:col-6 ">
    <mat-card-header>
      <mat-card-title>Detalles del Pedido: </mat-card-title>

      <mat-card-subtitle>Código de Orden: {{ order.codigo_de_orden }}</mat-card-subtitle>

    </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Producto: </span>
        <span matListItemLine>{{ order.producto }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Cliente: </span>
        <span matListItemLine>{{ order.cliente }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Proceso Actual: </span>
        <span matListItemLine>{{ order.proceso_actual }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Color elegido: </span>
        <span matListItemLine>{{ order.color_elegido }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Cantidad: </span>
        <span matListItemLine>{{ order.cantidad }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Ubiación de la orden: </span>
        <span matListItemLine>{{ order.ubicacion }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Fecha de creación: </span>
        <span matListItemLine>{{ order.fecha_de_creacion }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Fecha de inicio del pedido: </span>
        <span matListItemLine>{{ order.fecha_de_inicio }}</span>
      </mat-list-item>

      <mat-list-item>
        <span matListItemTitle>Fecha estimada de salida del pedido: </span>
        <span matListItemLine>{{ order.fecha_estimada_de_salida }}</span>
      </mat-list-item>
    </mat-list>

    <button mat-raised-button color="warn" (click)="goBack()">Regresar</button>
  </mat-card-content>

  </mat-card>

</div>
