<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <button routerLink="/dashboard">Dahsboard</button>
      <button routerLink="/orders">orders</button> -->
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="cabecera">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <h1>{{ user()?.name }}</h1>

    <button mat-button (click)="onLogout()">
      Cerrar Sesión
    </button>
  </mat-toolbar>


  <div class="container">
    <div class="col-12 mt-2 md:col-8 md:col-offset-2 md:mt-6">
      <router-outlet></router-outlet>
    </div>
  </div>




</mat-sidenav-container>




